@import 'tailwindcss';

@font-face {
  font-family: 'OverusedBold';
  src: url('/fonts/OverusedBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OverusedMedium';
  src: url('/fonts/OverusedMedium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'OverusedSemiBold';
  src: url('/fonts/OverusedSemiBold.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'OverusedNormal';
  src: url('/fonts/OverusedNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-display: 'OverusedNormal', sans-serif;
  --color-primary: black;
  --color-secondary: #27272a;
  --color-tertiary: #dddcda;
  --color-quaternary: #a5998a;
  --font-primary: 'OverusedNormal', sans-serif;
  --font-secondary: 'OverusedMedium', sans-serif;
  --font-tertiary: 'OverusedBold', sans-serif;
}

html {
  scroll-behavior: smooth;
}
